//COLORS

$color-primary: #0e9900;

$color-primary-dark-1: #0b7a00;
$color-primary-dark-2: #085c00;

$color-primary-light-1: #56b84d;

$color-secondary: #ff8a00;

$color-secondary-dark-1: #e67c00;

$color-tertiary: #00a4eb;

$color-green-dark: #031f00;

$color-background-light: #7fa05e1a;
$color-background: #eff3ee;

// FONT

$default-font-size: 1.6rem;
