.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: 0.7rem 2rem;
    border: none;
    text-decoration: none;
    border-radius: 1rem;
    font-family: inherit;
    cursor: pointer;
    outline: 3px solid transparent;

    transition: all 0.3s;
  }

  &-link {
    text-decoration: none;
    color: #fff;
  }

  &__orange {
    color: #fff;
    background-color: $color-secondary;
    font-weight: 700;
    font-size: 2rem;

    &:hover,
    &:active {
      background-color: $color-secondary-dark-1;
      outline: 3px solid $color-secondary-light-1;
    }
  }

  &__green {
    font-weight: 700;
    font-size: 1.8rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.158);

    &--light {
      color: $color-primary-light-2;
      background-color: $color-primary-light-1-trans1;

      &:hover,
      &:active {
        background-color: $color-primary-light-2-trans2;
        color: $color-green-dark;
        outline: 3px solid $color-primary-light-2-trans1;
      }
    }

    &--dark {
      color: #fff;
      background-color: $color-primary-light-2;

      &:hover,
      &:active {
        background-color: $color-primary-dark-1;
        color: #fff;
        outline: 3px solid $color-primary-light-2-trans1;
      }
    }
  }
}
