.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: 0.7rem 2rem;
    border: none;
    text-decoration: none;
    border-radius: 1rem;
    font-family: inherit;
    cursor: pointer;
    outline: 3px solid transparent;

    transition: all 0.3s;
  }

  &-link {
    text-decoration: none;
    color: #fff;
  }

  &-link {
    text-decoration: none;
    color: #fff;
  }

  &__orange {
    color: #fff;
    background-color: $color-secondary;
    font-weight: 700;
    font-size: 2rem;

    &:hover,
    &:active {
      background-color: $color-secondary-dark-1;
      outline: 3px solid $color-secondary-light-1;
    }
  }
}
