body {
  font-family: "Mukta", sans-serif;
  font-size: $default-font-size;
  color: $color-green-dark;
}

.heading-primary {
  font-size: 5rem;
  font-family: "Fredoka", sans-serif;
  color: $color-primary;
  letter-spacing: 0.2rem;
  line-height: 1;
}

.heading-secondary {
  font-family: "Fredoka", sans-serif;
  color: $color-primary;
  line-height: 1;
  font-size: 2.8rem;
}

.heading-tertiary {
  color: $color-primary-dark-2;
}

.subheading {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: $default-font-size;
  font-weight: 500;
}
