.hero {
  height: 60vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light-1, 0.3),
      rgba($color-secondary-light-1, 0.2)
    ),
    url(../../img/hero_homepage.jpg);
  background-size: cover;

  &__content {
    grid-column: 9/16;
    display: flex;
    flex-direction: column;

    gap: 2rem;
    justify-content: center;

    & span {
      color: $color-secondary;
    }
  }

  &__description {
    font-size: 2.6rem;
    color: $color-green-dark;
    line-height: 1.2;
  }

  &__btn {
    align-self: flex-start;
    margin-top: 1rem;
  }
}

.services {
  background-color: $color-background-light;
  padding: 10rem 4rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10rem 2rem 0 2rem;

  &__content {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.185);
    width: 25rem;
    height: 35rem;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.158);
    padding: 2rem;

    transition: all 0.2s;

    &--description {
      text-align: center;
      margin-top: -2rem;
    }

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }
}
