.hero {
  height: 60vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light-1, 0.3),
      rgba($color-secondary-light-1, 0.2)
    ),
    url(../../img/hero_homepage.jpg);
  background-size: cover;

  &__content {
    grid-column: 9/16;
    display: flex;
    flex-direction: column;

    gap: 2rem;
    justify-content: center;

    & span {
      color: $color-secondary;
    }
  }

  &__description {
    font-size: 2.6rem;
    color: $color-green-dark;
    line-height: 1.2;
  }

  &__btn {
    align-self: flex-start;
    margin-top: 1rem;
  }
}
